.main--indexTestresult{
  margin-top: 20px;
  & .addChart__buttons{
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    & .addChart__button{
      height: 30px;
      width: 200px;
      text-align: center;
      & button{
        @include reset_form;
        color: $black;
        font-weight: bold;
        font-size:  20px;
        line-height: 30px;
      }
      border: solid 2px gray;
      margin: 0 5px;
    }
  }
  width: 80%;
  & .charts{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    & .wrapar{
      width: 540px;
      height: 400px;
    }
  }
}

.sideBar{
  &__top{
    height: 30px;
  }
  &--indexTestresult{
    width: 20%;
    height: $main-height;
    border-left: 1px solid $black;
    background-color: $white;
    .testresults{
      overflow: scroll;
      height: calc(#{$main-height} - 30px);
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      padding-bottom: 10px;
      & a{
        @include reset_a-tag($black);
        &:hover{
          border-bottom: 2px dotted $black;
        }
      }
      & .testresult{
        width: 200px;
        height: 50px;
        border-bottom: 1px solid $black;
        margin: 3px 0;
        position: relative;
        color: $black;
        &__title{
          font-weight: bold;
        }
        &__score{
          position: absolute;
          bottom: 1px;
          left: 0px;
        }
        &__time{
          font-size: 12px;
          color: gray;
          position: absolute;
          bottom: 1px;
          right: 0px;
        }
      }
    }
  }
}
