.main--indexTestresult{
  margin-top: 20px;
  & .addChart__buttons{
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    & .addChart__button{
      height: 30px;
      width: 200px;
      text-align: center;
      & button{
        @include reset_form;
        color: $black;
        font-weight: bold;
        font-size:  20px;
        line-height: 30px;
      }
      border: solid 2px gray;
      margin: 0 5px;
    }
  }
  width: 80%;
  & .charts{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    & .wrapar{
      width: 540px;
      height: 400px;
    }
  }
}

.sideBar--indexTestresult{
  overflow: scroll;
  width: 20%;
  .testresults{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    & a{
      @include reset_a-tag(black);
    }
    & .testresult{
      @include card_style(80px,300px,white,50%);
    }
  }
}