.createWord{
  @include input_form(380px);
  @include mq(mobile){
    @include input_form(300px);
  }
  margin-top: $create-wordcard-height;
  &__form{
    &__input{
      height: 80px;
      line-height: 40px;
    }
  }
}