.wordcards{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  &--index{
    margin: 0 auto;
    width: 1000px;
    align-content: flex-start;
    height: calc(#{$main-height} - #{$create-wordcard-height});
    overflow: scroll;
    @include hiddenScrollBar;
    @include mq(mobile){
      padding-top: 60px;
      width: 370px;
      height: $main-height;
    }
  }
  & .wordcard{
    @include card_style;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &__button{
      margin-left: 5px;
      @include font_data($black,18px);
      & a{
        @include reset_a-tag($black);
      }
    }
    &__word{
      width: 95%;
      margin: 0 auto;
      text-align: center;
      @include font_data(black,30px,bold);
      overflow-wrap: break-word;
    }
  }
}

