.main.main--showWordBook
  .wordcards
    = render partial: "wordcard",collection: @wordbook.words, as: :word

.sideBar.sideBar--showWordBook
  = link_to "このテストを受験する", wordbook_test_path(@wordbook.id, @wordbook.test.id) if @wordbook.test