.main--showTest{
  & .testcards{
    width: 900px;
    margin: 0 auto;
    & .testcard{
      @include card_style(90px,850px);
      &__top{
        @include font_data(black,22px);
      }
      &__word{
        @include font_data(black,20px,bold);
        width: 23%;
      }
      &__submit{
        @include reset_form;
        width:100px;
        height: 100px;
        border: solid 2px gray;
        float: right;
      }
    }
  }
}

