.main--showTest{
  & .testcards{
    width: 800px;
    margin: 0 auto;
    & .testcard{
      @include card_style(90px,700px);
      &__top{
        @include font_data(black,22px);
      }
      &__flexbox{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        &__word{
          @include font_data(black,20px,bold);
          width: 20%;
        }
      }
      &__submit{
        @include reset_form;
        width:100px;
        height: 100px;
        border: solid 2px gray;
        float: right;
      }
    }
  }
}

