.main--showTest{
  width: 100%;
  & .testcards{
    width: 900px;
    padding-bottom: 90px;
    margin: 20px auto;
    border: 1px solid $black;
    & .testcard{
      width: 90%;
      margin: 20px auto;
      padding-bottom: 20px;
      border-bottom: 1px solid $black;
      &__top{
        @include font_data($black,20px,bold);
      }
      &__word{
        @include font_data($black,20px);
        width: 23%;
      }
    }
    &__submit{
      @include reset_form;
      color: $black;
      width: 200px;
      height: 50px;
      border: solid 2px $black;
      margin: 20px;
      float: right;
    }
  }
}

