- if word.id
  .wordcard
    - if current_user&.id == word.wordbook.user.id
      .flexbox.flexbox--buttons
        .wordcard__button
          = link_to "編集",edit_wordbook_word_path(word.wordbook.id, word.id)
        .wordcard__button
          = link_to "削除",wordbook_word_path(word.wordbook.id, word.id),method: :delete
    .wordcard__word
      = word.front
  .wordcard
    .wordcard__word
      = word.reverse