.main.main--createWord
  = render partial: "createWord", locals: {wordbook: @wordbook, word: @word}
.sideBar.sideBar--createWord
  = render partial: "wordTop", locals: {wordbook: @wordbook}
    = render partial: "wordcard", collection: @words, as: :word