.main{
  padding-top: 70px;
  background-color: gray;
  width: 75%;
  height: 100vh;
  float: left;
}

.side-bar{
  position: fixed;
  padding-top: 70px;
  background-color: $light-green;
  width: 25%;
  height: 100vh;
  right: 0;
  z-index: 0;
}