.header{
  width: 100%;
  height: $header-height;
  background-color: $light;
  box-shadow: 0 0 1px $light;
  position: fixed;
  z-index: 10;
  &__title{
    @include reset_a-tag($black);
    @include font_data($black,30px,bold);
    float: left;
    line-height: $header-height;
    &__logo{
      height: calc(#{$header-height} - 10px);
      margin: 5px 10px;
      float: left;
    }
  }
  &__icons{
    float: right;
    display: flex;
    flex-flow: row nowrap;
    margin-right: 20px;
    &__icon{
      @include reset_a-tag($black);
      margin: 10px;
      text-align: center;
      &__explain{
        font-size: 12px;
      }
      &:hover{
        text-shadow: 0 0 2px gray;
      }
    }
  }
}

.main{
  padding-top: $header-height;
  background-color: $main-color;
  width: 75%;
  height: $main-height;
  float: left;
}

.sideBar{
  position: fixed;
  padding-top: $header-height;
  background-color: $blue;
  width: 25%;
  height: 100vh;
  right: 0;
  z-index: 0;
}

.flexbox{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}