.header{
  width: 100%;
  height: 70px;
  background-color: azure;
  box-shadow: 0 0 1px gray;
  position: fixed;
  z-index: 10;
  &__logo{
    height: 60px;
    margin: 5px 10px;
    float: left;
  }
  &__title{
    @include reset_a-tag(black);
    @include font-data(black,30px,bold);
    float: left;
    line-height: 70px;
  }
  &__username{
    @include text-center(70px,center);
    width: 40px;
    float: right;
  }
  &__login{
    @include reset_a-tag(gray);
    float: right;
    margin: 0 10px;
    line-height: 70px;
  }
  &__logout{
    @include reset_a-tag(gray);
    float: right;
    margin: 0 10px;
    line-height: 70px;
  }
}

.main{
  padding-top: 70px;
  background-color: $main-color;
  width: 75%;
  min-height: 100vh;
  height: auto;
  float: left;
}

.sideBar{
  position: fixed;
  padding-top: 70px;
  background-color: $light-green;
  width: 25%;
  height: 100vh;
  right: 0;
  z-index: 0;
}