.main--showWordBook{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  &__wrapper{
    width: 100%;
    position: relative;
  }
  &__wordcard{
    @include absoluteCenter(45%, 10%);
    @include card_style(80%,80%);
    @include font_data(black,100px,bold);
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &__word{
      width: 95%;
      margin: 0 auto;
      text-align: center;
      overflow-wrap: break-word;
    }
  }
  & .button__arrow{
    width: 50px;
    @include reset_form();
    color: gray;
    & :hover{
      color: black;
    }
  }
  &__footer{
    position: fixed;
    bottom: 10px;
    right: 30px;
    font-size: 20px;
    & a{
      @include reset_a-tag($black);
    }
  }
}
