.wordbooks{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  & .wordbook{
    @include card_style;
    position: relative;
    & a{
      @include reset_a-tag($black);
    }
    &__link{
      @include reset_a-tag(black);
    }
    &__title{
      @include text_center(150px,center);
      @include font_data(black,30px,bold);
    }
    &__viewed{
      @include font_data($black,12px,500);
      position: absolute;
      right: 0;
      bottom: 15px;
      margin-right: 5px;
    }
    &__user{
      @include font_data($black,15px,500);
      &:hover{
        border-bottom: 1px solid $black;
      }
      position: absolute;
      right: 0;
      top: 15px;
      margin-right: 5px;
    }
    &__created-at{
      @include font_data($black,12px,500);
      position: absolute;
      right: 0;
      bottom: 0;
      margin-right: 5px;
    }
    &__tags{
      @include font_data($black,12px,500);
      position: absolute;
      left: 30px;
      top: 0;
      margin-right: 5px;
    }
    &__reference{
      @include font_data($black,12px,500);
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 5px;
    }
    &__favorite_count{
      @include font_data($black,12px,500);
      position: absolute;
      right: 0;
      bottom: 28px;
      margin-right: 5px;
    }
    &__fav{
      margin-left: 5px;
      & button{
        @include reset_form;
        @include font_data($black,10px);
        & :hover{
          text-shadow: 0px 0px 2px $black;
        }
      }
    }
    &__test{
      font-size: 14px;
      margin-left: 5px;
      & :hover{
        text-shadow: 0px 0px 1px $black;
      }
    }
    &__button{
      margin-left: 5px;
      @include font_data($black, 18px);
    }
  }
}
.flexbox{
  &--wordcard{
    position: absolute;
    top: 5px;
  }
  &--buttons{
    position: absolute;
    bottom: 2px;
    left: 0;
  }
}