.main.main--showTest
  .testcards
        .testcard
          .testcard__top
          .testcard__flexbox
              .testcard__flexbox__word{"data-id": i*10 + j}
.sideBar.sideBar--showTest
  テストエリアですよ