.main.main--showTest
  .testcards
    = form_for [@wordbook,@test,@testresult] do |f|
        .testcard
          .testcard__top
          .testcard__flexbox
              .testcard__flexbox__word{"data-id": i*10 + j}
.sideBar.sideBar--showTest
  テストエリアですよ