// 高さを設定しテキストの中央寄せを行う
@mixin text_center($height: auto,$align: unset){
  height: $height;
  line-height: $height;
  text-align: $align;
}

// 文字の色、サイズ、太さを決定する
@mixin font_data($color: black, $size: 15px, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;  
}

// ノート風のスタイル
@mixin noted($noted-height: 500px, $noted-width: 500px){
  border: double 5px black;
  margin: 0 auto;
  box-shadow: 0 0 10px gray;
  background-color: white;
  max-width: $noted-width;
  min-height: $noted-height;
}

// カード風のスタイル
@mixin card_style($height: 150px, $width: 400px,$color: $white,$darken:80%,$margin-height: 10px, $margin-width: 10px){
  height: $height;
  width: $width;
  background-color: $color;
  box-shadow: 1px 1px 2px darken($color, $darken);
  margin: $margin-height $margin-width;
}
