// 高さを設定しテキストの中央寄せを行う
@mixin text_center($height: auto,$align: unset){
  height: $height;
  line-height: $height;
  text-align: $align;
}

// 文字の色、サイズ、太さを決定する
@mixin font_data($color: black, $size: 15px, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

// ノート風のスタイル
@mixin noted($noted-height: 500px, $noted-width: 500px){
  border: double 5px $black;
  margin: 0 auto;
  box-shadow: 0 0 5px $black;
  background-color: white;
  max-width: $noted-width;
  min-height: $noted-height;
  @include mq(mobile){
    border: none;
    box-shadow: none;
  }
}

// カード風のスタイル
@mixin card_style($height: 150px, $width: 400px,$color: $white,$darken:80%,$margin-height: 10px, $margin-width: 10px){
  height: $height;
  width: $width;
  background-color: $color;
  box-shadow: 1px 1px 2px darken($color, $darken);
  margin: $margin-height $margin-width;
}

// deviseのログイン画面用スタイル
@mixin devise_form {
  margin: 30px 0px;
  & input{
    @include reset_form();
    border: 1px solid $black;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    &:focus{
      border: solid 1px $blue;
    }
  }
}

//入力フォーム用のスタイル
@mixin input_form($width: 400px) {
  width: $width;
  margin: 30px auto;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid $black;
  color: $black;
  &__form{
    & .require{
      color: red;
    }
    & .free{
      color: gray;
    }
    & label{
      font-weight: bold;
    }
    &__input{
      @include reset_form;
      @include text_center(50px);
      width: 90%;
      margin: 10px auto;
      padding-left: 10px;
      border: 1px solid $black;
      font-size: 20px;
      &:focus{
        border: 1px solid red;
      }
    }
  }
  &__submit{
    display: flex;
    justify-content: flex-end;
    & input{
      @include reset_form;
      padding: 10px;
      border: 1px solid $black;
      color: $black;
    }
  }
}

// 親要素にrelativeが指定されていた場合に中央寄せする
@mixin absoluteCenter($top: 50%, $left: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(0, -50%);
  transform: translate(0, -50%);
}