.main--showUser{
  width: 65%;
  display: flex;
}
.sideBar--showUser{
  width: 35%;
  background-color: $white;
  border-left: 3px dotted $black;
}
.showUser{
  &--scroll{
    height: $main-height;
    overflow: scroll;
  }
  &__bar{
    @include card_style(50px,95%);
    margin: 10px auto;
    &__title{
      @include text_center(50px,center);
      @include font_data($black,20px,bold);
    }
  }
}