.main--showUser{
  width: 100%;
  display: flex;
  .showUser{
    width: 35%;
    &--wide{
      width: 65%;
      border-right: 2px dashed $black;
    }
    &__bar{
      @include card_style(50px,95%);
      margin: 10px auto;
      &__title{
        @include text_center(50px,center);
        @include font_data($black,20px,bold);
      }
    }
  }
}
